#Grid1ContainerTbl {
	border-collapse: collapse;
	width: 100%;
	margin: 1em 0;
	font-size: 1em;
	background: #fff;
}
#Grid1ContainerTbl th,
#Grid1ContainerTbl td {
	border: 1px solid #bbb;
	padding: 0.4em 0.7em;
	text-align: left;
}
#Grid1ContainerTbl thead {
	background: #f5f5f5;
}
#Grid1ContainerTbl tbody tr:nth-child(even) {
	background: #fafbfc;
}
#MAINFORM {
	margin: 1em 0;
	padding: 1em 0;
	border-top: #bbb 1px solid;
	border-bottom: #bbb 1px solid;
}
