* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{csv,[cC][sS][vV]} text eol=crlf
*.{reg,[rR][eE][gG]} text eol=crlf encoding=UTF-16LE-BOM
*.lockb binary diff=lockb
